[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argostranslate = "*"
natsort = "==8.2.0"
nltk = "==3.7"
pycryptodome = "*"
ebooklib = "*"
bs4 = "*"
ipython = "*"

[dev-packages]
pylama = "*"
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
